megs: 16
romimage: file="C:/Program Files/Bochs-3.0/BIOS-bochs-latest"
floppy_bootsig_check: disabled=1
floppya: 1_44=build/osimg.bin, status=inserted

pci: enabled=1, chipset=i440fx
ata0: enabled=1, ioaddr1=0x1f0, ioaddr2=0x3F6, irq=14
ata0-master: type=disk, path="build/drive.img", mode=flat
ata0-slave:  type=disk, path="", mode=flat  # empty slave
#ata1-master: type=disk, path="", mode=flat  # secondary master
#ata1-slave:  type=disk, path="", mode=flat  # secondary slave

boot: a
log: bochslog.txt
display_library: win32, options="gui_debug"
